{
  "extends": [
    "react-app",
    "plugin:@typescript-eslint/recommended",
    "react-app/jest"
  ],
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0
  }
}