@import "../../variables.scss";
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.appWrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    margin-top: $topbar-height;
    overflow-y: hidden;
}

.pageWrapper {
    flex: 1 1 auto;
    max-width: 1024px;
    overflow-y: auto;
}
