@import "./variables.css";
/* @import-normalize; */

:global(body) {
    font-family: "Titillium Web", Arial, Sans-Serif;
    font-size: var(--font-size-base);
}

.wrapper {
    margin: auto;
    padding:0 15px;
    max-width: 1024px;

    h1 {
        font-size: var(--font-size-h1);
    }
}

.reactLogo {
    height: 48px;
    vertical-align: middle;
    width: 48px;
}
