@import "./variables.scss";
@import "./fonts.scss";

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-family: "Titillium Web", Arial, Sans-Serif;
    font-size: var(--font-size-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

html,
body,
#root {
    height: 100%;
    overflow-y: hidden;
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
    display: block;
    margin: 0;
    padding-block-end: 1rem;
    padding-block-start: 1rem;
}
