@import "./variables.scss";
@import "./fonts.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: var(--font-size-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

html,
body,
#root {
    height: 100%;
    overflow-y: hidden;
    width: 100%;
}

p {
    display: block;
    margin: 0;
    padding-block-end: 1rem;
    padding-block-start: 1rem;
}

.shadow-appbar {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
        0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.heroicon {
    --tw-text-opacity: 1;
    width: 1.5rem;
    height: 1.5rem;
}
